{% assign page_path = page.relative_path %}
{% if page_path %}
  {% assign page_directories = page.relative_path | split: '/' %}
  {% assign section = page_directories[1] %}
{% endif %}

{% assign subsectiondirs = "" %}
{% assign subsections = [] %}
{% assign c=site.collections[page.lang] %}
{% assign docs=c.docs %}
{% for doc in docs %}
  {% assign directories=doc.relative_path | split: '/' %}
  {% if directories[1] == section %}
    {% if subsections contains directories[2] %}
    {% else %}
      {% if directories[3] %}
        {% assign subsectiondirs_before = subsectiondirs %}
        {% assign subsectiondirs = directories[2] | prepend:  ',' | prepend: subsectiondirs_before %}
        {% assign subsections = subsectiondirs | split: ',' %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}

{% for subsection in subsections %}
  <section id="{{ subsection }}" class="subsection {{ subsection }}">
    <h2>{{ subsection | replace:'-',' ' | capitalize }}</h2>
    <ul>
      {% assign c=site.collections[page.lang] %}
      {% assign docs=c.docs | sort: 'title' %}
      {% for doc in docs %}
        {% assign directories=doc.relative_path | split: '/' %}
        {% if directories[1] == section and directories[2] == subsection %}
          <li>
            <a href="{{ doc.url }}">{{ doc.title }}</a><br/>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
{% endfor %}
