{% assign pages=site.pages | where:'section', page.section | sort: 'lang' %}
{% for p in pages %}
  {% if p.lang != page.lang %}
    <a href="{{ p.url }}">{{ site.t[p.lang].language }}</a>
  {% endif %}
{% endfor %}

{% for subsection in page.subsections %}
  <section class="subsection {{ subsection }}">
    <h2>{{ subsection | replace:'-',' ' | capitalize }}</h2>
    <ul>
      {% assign c=site.collections[page.lang] %}
      {% assign docs=c.docs | sort: 'title' %}
      {% for doc in docs %}
        {% assign directories=doc.relative_path | split: '/' %}
        {% if directories[1] == page.section and doc.subsection == subsection %}
          <li>
            <a href="{{ doc.url }}">{{ doc.title }}</a><br/>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
{% endfor %}
