<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if site.t[page.lang][page.identifier] %}
      {{ site.t[page.lang][page.identifier].title }} - {{ site.title }}
    {% elsif page.section %}
      {{ page.section | capitalize }} - {{ site.title }}
    {% else %}
      {{ page.title }} - {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/main.css">

  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
  <link rel="icon" href="{{ site.baseurl }}/public/favicon.png">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/public/favicon.png">
</head>
