<ul class='section'>
<a class='users' href='/users' id='sidebar-section-users'>Users</a>
<li class='nav-item'>
<a class='features' href='/users#features' id='sidebar-subsection-features'>Features</a>
</li>
<a class='administrators' href='/administrators' id='sidebar-section-administrators'>Administrators</a>
<li class='nav-item'>
<a class='essentials' href='/administrators#essentials' id='sidebar-subsection-essentials'>Essentials</a>
</li>
<li class='nav-item'>
<a class='email' href='/administrators#email' id='sidebar-subsection-email'>Email</a>
</li>
<li class='nav-item'>
<a class='logins' href='/administrators#logins' id='sidebar-subsection-logins'>Logins</a>
</li>
<a class='designers' href='/designers' id='sidebar-section-designers'>Designers</a>
<li class='nav-item'>
<a class='tweaks' href='/designers#tweaks' id='sidebar-subsection-tweaks'>Tweaks</a>
</li>
<a class='sysadmins' href='/sysadmins' id='sidebar-section-sysadmins'>Sysadmins</a>
<li class='nav-item'>
<a class='install' href='/sysadmins#install' id='sidebar-subsection-install'>Install</a>
</li>
<li class='nav-item'>
<a class='essentials' href='/sysadmins#essentials' id='sidebar-subsection-essentials'>Essentials</a>
</li>
<li class='nav-item'>
<a class='email' href='/sysadmins#email' id='sidebar-subsection-email'>Email</a>
</li>
<li class='nav-item'>
<a class='docker' href='/sysadmins#docker' id='sidebar-subsection-docker'>Docker</a>
</li>
<li class='nav-item'>
<a class='miscellaneous' href='/sysadmins#miscellaneous' id='sidebar-subsection-miscellaneous'>Miscellaneous</a>
</li>
<a class='developers' href='/developers' id='sidebar-section-developers'>Developers</a>
<li class='nav-item'>
<a class='forum-import' href='/developers#forum-import' id='sidebar-subsection-forum-import'>Forum import</a>
</li>
<li class='nav-item'>
<a class='creating-plugins' href='/developers#creating-plugins' id='sidebar-subsection-creating-plugins'>Creating plugins</a>
</li>
<li class='nav-item'>
<a class='hacking' href='/developers#hacking' id='sidebar-subsection-hacking'>Hacking</a>
</li>
</ul>
