h1, h2, h3, h4, h5, h6 {
  font-family: "pragmatica", arial, sans-serif;
  margin: 10px 0;
}

body {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  font-weight: 300;
  margin: 0;
}

* {
  font-family: 'Open Sans',Arial,sans-serif;
}

#footer {
  margin-top: 50px;
  color: #bababa;
  text-align: center;
  border-top: 1px solid #c1c1c1;
  padding-top: 30px;
}
#footer a {
  color: #bababa;
  font-family: 'Open Sans',Arial,sans-serif;
  text-decoration: none;
}

.content-wrapper {
  position: absolute;
  overflow-y: auto;
  top: $bar-height;
  bottom: 0;
  left: $sidebar-width;
  padding: 0 $content-padding 0 $content-padding;
}

img {
  @include adjust-max-width-at-breakpoints();
}
