h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}

body {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
}

p {
  line-height: 26px;
}

* {
  font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
}

code, pre, kbd, samp {
  font-family: monospace, monospace;
  font-size: 14px;
}

pre {
  overflow: auto;
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}

pre code {
  word-wrap: normal;
  display: block;
  padding: 5px 10px;
  color: #222;
  background: #f8f8f8;
  max-height: 500px;
}

p > code, li > code, pre > code {
  color: #333;
  background: #f8f8f8;
}

#footer {
  margin: 20px;
  clear: both;
  color: #bababa;
  text-align: center;
  border-top: 1px solid #c1c1c1;
  padding-top: 20px;
}
#footer a {
  color: #bababa;
  text-decoration: none;
}

.content-wrapper {
  top: $bar-height;
  bottom: 0;
  left: $sidebar-width;
  padding: 0 $content-padding 0 $content-padding;
}

img {
  @include adjust-max-width-at-breakpoints();
}

.breadcrumb ul {
  padding: 0;
  font-size: 13px;
  list-style: none;
}

.breadcrumb ul a {
  color: #fff;
  text-decoration: none;
}

.breadcrumb-wrapper {
  display: inline-block;
  font-weight: 300;
}

.breadcrumb-wrapper.active {
  font-weight: normal;
}

.breadcrumb-wrapper + .breadcrumb-wrapper::before {
  padding: 0 5px;
  color: #fff;
  content: "/\00a0";
}

.clearfix::after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.main-content {
  margin: 20px;
  padding: 0 20px;
  max-width: 1480px;
  position: relative;
}

@media (max-width: 760px) {
  .main-content {
    margin: 0;
    padding: 0;
  }
}

.search-box {
  width: 30%;
  min-width: 300px;
}

@media (max-width: 840px) {
  .search-box {
    width: 100%;
  }
}

.search-box .gsc-control-cse {
  background-color: transparent;
  border: 0;
  padding-top: 20px;
}

.page {
  float: left;
  width: 65%;
}

.text-tip {
  padding: 3px;
  background: rgb(213,237,200);
  border-radius: 5px;
  &:before {
    padding: 0 5px;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "\f05a";
  }
}
