.portal.users.card {
  & {
    border-color: $portal-users-main-bg-color;
  }
  .card.title {
    background: $portal-users-main-bg-color;
    color: #fff;
  }
  .card.actions a {
    color: $portal-users-anchor-color;
  }
}
.portal.moderators.card {
  & {
    border-color: $portal-moderators-main-bg-color;
  }
  .card.title {
    background: $portal-moderators-main-bg-color;
    color: #fff;
  }
  .card.actions a {
    color: $portal-moderators-anchor-color;
  }
}
.portal.administrators.card {
  & {
    border-color: $portal-administrators-main-bg-color;
  }
  .card.title {
    background: $portal-administrators-main-bg-color;
    color: #fff;
  }
  .card.actions a {
    color: $portal-administrators-anchor-color;
  }
}
.portal.designers.card {
  & {
    border-color: $portal-designers-main-bg-color;
  }
  .card.title {
    background: $portal-designers-main-bg-color;
    color: #fff;
  }
  .card.actions a {
    color: $portal-designers-anchor-color;
  }
}
.portal.sysadmins.card {
  & {
    border-color: $portal-sysadmins-main-bg-color;
  }
  .card.title {
    background: $portal-sysadmins-main-bg-color;
    color: #fff;
  }
  .card.actions a {
    color: $portal-sysadmins-anchor-color;
  }
}
.portal.developers.card {
  & {
    border-color: $portal-developers-main-bg-color;
  }
  .card.title {
    background: $portal-developers-main-bg-color;
    color: #fff;
  }
  .card.actions a {
    color: $portal-developers-anchor-color;
  }
}

.portal a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.portal.list {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  overflow: auto;
}

.portal.list > li {
  display: inline-block;
  margin-right: 40px;
}

.portal.card {
  float: left;
  height: 610px;
  width: 32%;
  margin: 0 10px 10px 0;
  overflow: hidden;
  background: #FFF;
  border: 1px solid #c1c1c1;
  color: #272727;
}
.portal.card .card.title {
  display: block;
  padding: 5px 0;
  font-size: 18pt;
  text-align: center;
}
.portal.card .card.decoration {
  padding: 50px 0;
  text-align: center;

  .fa {
    font-size: 80pt;
  }
}
.portal.card .card.description {
  color: #777;
  padding: 20px;
  line-height: 1.5;
  font-size: 12pt;
  font-family: 'Roboto', sans-serif;
}
.portal.card .card.actions {
  margin: 0;
  padding: 0;
}
.portal.card .card.action {
  outline: none;
  color: #333;
  background: #fff;
}
.card.action .fa {
  width: 15px;
  margin-right: 5px;
  text-align: center;
}
.card.action a {
  padding: 10px 20px;
  display: block;
  transition: background .2s ease;
  &:hover {
    background: #eee;
  }
}

.portal.card .card.decoration, .portal.card .card.description {
  display: block;
  border-bottom: 1px solid #c1c1c1;
}
