.portal-page.users .portal-header {
  @include linear-gradient(
    scale-color($portal-users-main-bg-color, $lightness: -40%),
    $portal-users-main-bg-color);
  color: $portal-users-musthead-color;
}
.portal-page.moderators .portal-header {
  @include linear-gradient(
    scale-color($portal-moderators-main-bg-color, $lightness: -40%),
    $portal-moderators-main-bg-color);
  color: $portal-moderators-musthead-color;
}
.portal-page.administrators .portal-header {
  @include linear-gradient(
    scale-color($portal-administrators-main-bg-color, $lightness: -40%),
    $portal-administrators-main-bg-color);
  color: $portal-administrators-musthead-color;
}
.portal-page.designers .portal-header {
  @include linear-gradient(
    scale-color($portal-designers-main-bg-color, $lightness: -40%),
    $portal-designers-main-bg-color);
  color: $portal-designers-musthead-color;
}
.portal-page.sysadmins .portal-header {
  @include linear-gradient(
    scale-color($portal-sysadmins-main-bg-color, $lightness: -40%),
    $portal-sysadmins-main-bg-color);
  color: $portal-sysadmins-musthead-color;
}
.portal-page.developers .portal-header {
  @include linear-gradient(
    scale-color($portal-developers-main-bg-color, $lightness: -40%),
    $portal-developers-main-bg-color);
  color: $portal-developers-musthead-color;
}

.portal-page .portal-header {
  padding: 50px 0;
  color: #fff;
  background-repeat: repeat-y;
}
.portal-header h1 {
  color: #fff;
  font-size: 50px;
}
.portal-header .description {
  font-size: 24px;
  font-weight: 300;
}
.subsection h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}
.subsection ul {
  margin-left: 10px;
  padding-left: 0;
  list-style: circle inside;
}
.subsection ul li {
  line-height: 30px;
}
