/* Rainbow portal page customization */
.portal-header.home {
  background: $portal-users-main-bg-color;
  color: $portal-users-musthead-color;
}
.portal-header.users {
  background: $portal-users-main-bg-color;
  color: $portal-users-musthead-color;
}
.portal-header.moderators {
  background: $portal-moderators-main-bg-color;
  color: $portal-moderators-musthead-color;
}
.portal-header.administrators {
  background: $portal-administrators-main-bg-color;
  color: $portal-administrators-musthead-color;
}
.portal-header.designers {
  background: $portal-designers-main-bg-color;
  color: $portal-designers-musthead-color;
}
.portal-header.sysadmins {
  background: $portal-sysadmins-main-bg-color;
  color: $portal-sysadmins-musthead-color;
}
.portal-header.developers {
  background: $portal-developers-main-bg-color;
  color: $portal-developers-musthead-color;
}

/* General portal page */
.portal-page {
  float: left;
  width: 70%;
}

@media (max-width: 760px) {
  .portal-page {
    width: 100%;
  }
}

.portal-header {
  padding: $content-padding;
  color: #fff;
  background-repeat: repeat-y;
}
.portal-header h1 {
  color: #fff;
  font-size: 50px;
}
.portal-header .description {
  font-size: 24px;
  font-weight: 300;
}
.subsection h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}
.subsection ul {
  margin-left: 10px;
  padding-left: 0;
  list-style: circle inside;
}
.subsection ul li {
  line-height: 30px;
}

/* Rainbow portal page and documentation base style */
.portal-page.users, .documentation-page.users {
  a {
    color: $portal-users-anchor-color;
    &:hover {
      color: scale-color($portal-users-anchor-color, $lightness: -20%);
    }
  }
}
.portal-page.moderators, .documentation-page.moderators {
  a {
    color: $portal-moderators-anchor-color;
    &:hover {
      color: scale-color($portal-moderators-anchor-color, $lightness: -20%);
    }
  }
}
.portal-page.administrators, .documentation-page.administrators {
  a {
    color: $portal-administrators-anchor-color;
    &:hover {
      color: scale-color($portal-administrators-anchor-color, $lightness: -20%);
    }
  }
}
.portal-page.designers, .documentation-page.designers {
  a {
    color: $portal-designers-anchor-color;
    &:hover {
      color: scale-color($portal-designers-anchor-color, $lightness: -20%);
    }
  }
}
.portal-page.sysadmins, .documentation-page.sysadmins {
  a {
    color: $portal-sysadmins-anchor-color;
    &:hover {
      color: scale-color($portal-sysadmins-anchor-color, $lightness: -20%);
    }
  }
}
.portal-page.developers, .documentation-page.developers {
  a {
    color: $portal-developers-anchor-color;
    &:hover {
      color: scale-color($portal-developers-anchor-color, $lightness: -20%);
    }
  }
}
