.sidebar {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  float: left;
  margin-right: 20px;
  width: 180px;
  padding: 16px 12px 16px 16px;
  background-color: #f1f1f1;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 8px 0 0;
  position: relative;
  font-size: 13px;
}

/* Sidebar content */
.sidebar a {
  font-weight: normal;
  text-decoration: none;
  color: #337ab7;

  &:hover {
    text-decoration: underline;
  }
}

.nav-item {
  padding-left: 1rem;
}

@media (max-width: 760px) {
  .sidebar {
    display: none;
  }
}
