.sidebar {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  float: left;
  margin-right: 20px;
  width: 15%;
  padding: 11px 12px 16px 16px;
  background-color: #f1f1f1;
}

.sidebar .fa {
  width: 16px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Sidebar content */
.sidebar a {
  font-weight: normal;
  text-decoration: none;
  color: #008cdd;

  &:hover {
    text-decoration: underline;
  }
}

.sidebar .section-title {
  padding-top: 5px;
}

.sidebar ul.subsection {
  padding-left: 21px;
}

.sidebar  ul.subsection .subsection-title {
  font-size: 14px;
  padding-left: 0;
}

.sidebar ul.subsection li {
  display: none;
  padding-left: 15px;
  font-size: 14px;
}

.sidebar ul.subsection .subsection-title {
  display: block;
}

@media (max-width: 780px) {
  .sidebar {
    display: none;
  }
}
