$portal-users-main-bg-color: #3AB54A !default;
$portal-moderators-main-bg-color: #25AAE2 !default;
$portal-administrators-main-bg-color: #0E76BD !default;
$portal-designers-main-bg-color: #92278F !default;
$portal-sysadmins-main-bg-color: #283890 !default;
$portal-developers-main-bg-color: #231F20 !default;
