<!DOCTYPE html>
<html lang="{{ page.lang }}">

  {% include head.html %}

  <body>
    {% include header.html %}

    <main class="container">
      {% for c in site.collections %}
        {% assign docs=c[1].docs | where:'name', page.name | sort: 'lang' %}
          {% for l in docs %}
            {% if l.lang != page.lang %}
            <a href="{{ l.url }}">{{ site.t[l.lang].language }}</a>
            {% endif %}
          {% endfor %}
      {% endfor %}

      <div class="row">
        <div class="col-md-2 col-sm-3">
          {% include sidebar.html lang=page.lang %}
        </div>
        <div class="col-md-10 col-sm-9">
          <div class="main-content">
            {{ content }}
          </div>
        </div>
      </div>
    </main>

  </body>
</html>
