---
layout: base
---

<section class="portal-header {{ page.section }}">
  <div class="pull-left">
    <h1>{{ site.t[page.lang][page.section].title }}</h1>
  </div>
  <div class="search-box pull-right"><gcse:search></gcse:search></div>
  <div class="clearfix"></div>
  <p class="description">
    {{ site.t[page.lang][page.section].description }}
  </p>
</section>

<div class="main-content clearfix">
  <nav class="sidebar">
    {% include sidebar.html %}
  </nav>
  <div class="content-wrapper">
    <main class="portal-page {{ page.section }}">
      <section class="portal-content">
        {{ content }}
      </section>
    </main>
  </div>
</div>

{% include footer.html %}
