---
layout: base
---

{% assign directories = page.path | split: '/' %}
{% assign section = directories[-3] %}
{% assign subsection = directories[-2] %}

<header class="documentation-header {{ section }}">
  <nav class="breadcrumb">
    <ul>
      <li class="breadcrumb-wrapper"><a href="/{{ section }}" title="{{ section | capitalize }}">{{ section | capitalize }}</a></li>
      <li class="breadcrumb-wrapper"><a href="/{{ section }}#{{ subsection }}" title="{{ subsection | capitalize }}">{{ subsection | capitalize }}</a></li>
      <li class="breadcrumb-wrapper active">Documentation</li>
    </ul>
  </nav>
  <h1 class="documentation-title">{{ page.title }}</h1>
</header>
<div class="main-content clearfix">
  <nav class="sidebar {{ section }}">
    {% include sidebar.html %}
  </nav>
  <article class="documentation-page {{ section }} {{ subsection }}">
    <div id="toc"></div>
    <div class="documentation-content">{{ content }}</div>
  </article>
</div>
<div id='discourse-comments'></div>

<script type="text/javascript">
 txt = document.getElementsByClassName('documentation-source')[0].getElementsByTagName("a")[0].href
 topicId = (txt.lastIndexOf('meta.discourse.org') > -1) ?  parseInt(txt.substring(txt.lastIndexOf("/")+1)) : -1
  DiscourseEmbed = { discourseUrl: 'https://meta.discourse.org/',
                     topicId: topicId };

  (function() {
    if(DiscourseEmbed.topicId > 0){
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    }
  })();
</script>
{% include footer.html %}
