<!DOCTYPE html>
<html lang="{{ page.lang }}">

  {% include head.html %}

  <body>
    {% include header.html %}

    <main class="portal-page {{ page.section }}">
      <section class="portal-header">
        <div class="container">
          <h1>{{ site.t[page.lang][page.section].title }}</h1>
          <p class="description">
            {{ site.t[page.lang][page.section].description }}
          </p>
        </div>
      </section>
      <section class="portal-content">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
              {{ content }}
            </div>
          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}
  </body>
</html>
