---
layout: default
---

<div class="sidebar">
  {% include sidebar.html %}
</div>
<div class="content-wrapper">
    <main class="portal-page {{ page.section }}">
      <section class="portal-header">
        <div class="container">
          <h1>{{ site.t[page.lang][page.section].title }}</h1>
          <p class="description">
            {{ site.t[page.lang][page.section].description }}
          </p>
        </div>
      </section>
      <section class="content portal-content">
        <div class="container">
          {{ content }}
        </div>
      </section>
    </main>

  {% include footer.html %}
</div>
